*.suo
*.user
*.vspscc
*.vssscc
*.user
*.suo
*.sln.cache
*.suo
*.user
*\bin\*
*\obj\*
*.ncb
*.nlb
*.aps
*.clw
*.pdb
*.obj
*.exe
*.pch
*.vspscc
*_i.c
*_p.c
*.tlb
*.tlh
*.bak
*.cache
*.Cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.sig
*ReSharper*
*resharper*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.suo
*.cache
bin
obj
Bin